<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ 
        url_for('static',filename='main.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Home</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">128BIT</a>
        <div class="header-right">
          <a href="/project">Мои проекты</a>
          <a href="/contact">Контактыы </a>
          <a href="/about">Обо мне</a>
          <a href="/blog">Блог</a>
          <a href="/login">Войти</a>
        </div>
      </div>

    </div>
    <div class="Centrmain">
        <h1>Добро пожаловать на сайт.</h1>
        <p>Привет! Добро пожаловать на мой блог, где я делюсь своими проектами и повседневными моментами. Здесь ты найдешь информацию о процессе создания моих проектов и размышления о жизни разработчика.</p>

            <p>Я, Данил, увлечен программированием и разработкой. Мой блог - это место, где я делюсь своим опытом и знаниями в этой области. С большим интересом и энтузиазмом я рассказываю о том, как создаю свои проекты, начиная от идеи и прототипирования, до финальной версии и запуска.</p>
            
                <p>Меня вдохновляют новые технологии и возможности, которые они открывают. Я люблю экспериментировать и искать новые идеи для своих проектов. В блоге я рассказываю о своих находках, успехах и неудачах в разработке. Я стараюсь поделиться своими мыслями и идеями, чтобы вдохновить и помочь другим разработчикам.</p>
            
                    <p> Кроме того, я также делюсь моментами из своей повседневной жизни. Разработка программного обеспечения - это не только работа, но и стиль жизни. Я обсуждаю различные аспекты своей профессиональной жизни, в том числе организацию рабочего времени, саморазвитие и взаимодействие с коллегами.</p>
            
                        <p>Если ты тоже увлекаешься программированием, разработкой и хочешь поучаствовать в моих проектах, то мой блог - отличное место для общения и обмена опытом. Здесь ты найдешь много полезной информации, которая поможет тебе стать лучше в своей профессии.</p>
            
                            <p>Так что присоединяйся к моему блогу и давай разрабатывать что-то вместе!</p>
    </div>
</body>
</html>